# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [4]:
import sqlite3
import pandas as pd

con = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = con.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [7]:
c.execute("""SELECT * FROM offices
                        JOIN employees
                        USING(officeCode)""")

df = pd.DataFrame(c.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in c.description]
df.head()

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,,President
1,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1002,VP Sales
2,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1002,VP Marketing
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1056,Sales Manager (NA)
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1143,Sales Rep

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [ ]:
#Your code here

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!