# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [4]:
import sqlite3
import pandas as pd

con = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = con.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [9]:
c.execute("""SELECT * FROM offices
                        JOIN employees
                        USING(officeCode)
                        WHERE city = 'Boston'; """)

df = pd.DataFrame(c.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in c.description]
df

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle
0,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep
1,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,1143,Sales Rep

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [30]:
c.execute("""SELECT city, COUNT(*) FROM offices
                        JOIN employees
                        USING(officeCode)
                        GROUP BY officeCode; """)

c.fetchall() #Take results and create dataframe

[('San Francisco', 6),
 ('Boston', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('Tokyo', 2),
 ('Sydney', 4),
 ('London', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [32]:
c.execute("""SELECT *    FROM employees
                        JOIN customers
                        ON employees.employeeNumber = customers.salesRepEmployeeNumber
                        JOIN orders
                        USING(customerNumber)
                        JOIN orderdetails
                        USING(orderNumber)
                        JOIN products
                        USING(productCode)
                        ; """)

c.fetchall() #Take results and create dataframe

OperationalError: near "FROM": syntax error

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!